nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgba(206, 228, 253, 0.342);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100px;
    padding: 20px 20px 20px 0;
    z-index: 1000;
    backdrop-filter: blur(4px);
  }

  .logo {
    margin-right: 20px; 
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .logonew {
    margin-right: 100px; 
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  
  .toggle {
    display: none;
  }
  
  .menu {
    display: flex;
    list-style: none;
  }
  
  .menu li {
    margin-right: 50px;
  }
  
  .menu a {
    transition:0.2s ease;
    text-decoration: none;
    color: #0f172a;
    font-weight: 600;
    font-size: 27px;
  }

.menu a:hover{
    font-weight: 700;
    transition:0.2s ease;
}


footer {
    padding: 70px 100px;
    background-color: #CEE4FD; /* Warna latar belakang sesuai kode yang diinginkan */
  }
  
 
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-information {
    text-align: left;
    width: 30%; /* Atur lebar agar bersampingan pada tampilan desktop */
    margin-bottom: 20px; /* Mengatur margin antar item */
  }
  
  @media (max-width: 767px) {
    .footer-information {
      width: 100%; /* Setel lebar ke 100% pada tampilan mobile */
    }
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .footer-information {
    text-align: left;
    
  }

  .footer-title {
    margin-bottom: 50px;
    color: #0F172A;
  }
  
  .h4-bold {
    font-weight: bold;
    color: #0F172A;
    margin-bottom: 30;
  }
  
  .h4-regular {
    margin: 8px 0;
    font-weight: 400;
    color: #0F172A;
  }
  
  img {
    margin-top: 8px;
  }
  