.hero {
  position: relative;
  text-align: center;
}

.hero img {
  width: 100%;
  height: auto;
  object-position: center left;
}

.hero-container {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: #0f172a;
}

.hero-container h1 {
  font-size: 43px;
}

.button {
  font-weight: 600;
  border-radius: 14px;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 10px 35px;
  border: 3px solid #53a1f9;
  color: #086cdd;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.button:hover {
  border: 3px solid;
  border-color: #84bcfb;
  background-color: #84bcfb;
  color: #f8fafc;
}

#beranda {
  padding: 0px;
}

section {
  padding: 70px 100px;
}

.teks-lt {
  font-size: 34px;
  font-weight: 600;
  color: #0f172a;
}

.lainnya {
  font-size: 27px;
  font-weight: 100;
  color: #0f172a;
}

.teks-lainnya-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.laundry-img {
  width: 393px;
  height: 200px;
}

.laundry-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.laundry-card {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 393px;
  min-width: 393px;
  box-shadow: 0px 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 20px;
}
.kupon-img {
  width: 100%;
  height: auto;
  object-position: center left;
}


.kupon-container {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.chevron {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  background-size: cover;
  transform: translateY(-50%);
  cursor: pointer;
}

.chevron-left {
  left: 0;
  background-image: url('res/assets/chev-left.png');
}

.chevron-right {
  right: 0;
  background-image: url('res/assets/chev-right.png');
}


.accordion-wrapper {
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}
.accordion {
  width: 100%;
  overflow: hidden;
  margin-bottom: 16px;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
 
  border-radius: 10px; 
}
.accordion:last-child {
  margin-bottom: 0;
}
.accordion-label {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 16px;
  background: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  color: #0F172A;
}
.accordion-label::after {
  content: "\276F";
  width: 16px;
  height: 16px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  
}
.accordion-content {
  max-height: 0;
  padding: 0 16px;
  background: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #0F172A;
}
.accordion-content p {
  margin: 0;
  font-size: 18px;
}
input:checked + .accordion-label::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
input:checked ~ .accordion-content {
  max-height: 100vh;
  padding: 16px;
}




@media (max-width: 768px) {
  .laundry-card {
    margin-right: 0;
    margin-bottom: 33px;
  }
}

.laundry-card-container {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 19px;
  padding-top: 19px;
}

.laundry-card-container h4 {
  margin-right: 5px;
  font-size: 27px;
  font-weight: 600;
  color: #0f172a;
}

.star-value {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.star-value h5 {
  font-size: 27px;
  font-weight: 400;
  color: #0f172a;
}

.info-container .distance {
  font-size: 20px;
  font-weight: 400;
  color: #0F172A;
}


